// ============
// mixins
// ============

@mixin mQ($break) {
  $value: map-get($breakpoints, $break);

  @if $value == null {
    @error "`#{$break}` is not a valid breakpoint name.";
  }
  @else {
    @media (min-width: $value) {
      @content;
    }
  }
}

@mixin box-origin ($origin: 50% 50%) {
  transform-box: fill-box;
  transform-origin: $origin;
}
