//  ============
//  Header Typed
//  ============

.stamp-dark {
  background: black;
  transform: rotate(-3deg);
}

.hola {
  position: relative;
  transform: rotate(3deg);
}

.max-content {
  width: max-content;
}