.img-diego {
  max-width: 200px;
  max-height: 200px;
}

.circle {
  position: relative;
  top: -200px;
  left: 90px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgba(255, 193, 7, .5);
}
.name-about {
  margin: 40px 100px auto 30px;
}

.name-g {
  display: inline-block;
  position: relative;
  left: 50px;

}